@import "tailwindcss";





:root{
    @apply bg-[#27374C] text-[#f5f5f5] overflow-x-hidden;
}


@theme {

    --animate-rotate: rotate 2s linear infinite;
    --animate-tooth-bounce: tooth-bounce 5s ease-in-out infinite;
    --animate-circle-bounce1: circle-scale1 3s ease-in-out infinite;
    --animate-circle-bounce2: circle-scale2 3s ease-in-out infinite;
    --font-inter: 'Inter', sans-serif;
    --animate-scale: scale 3s ease-in-out infinite;
    --animate-scale2: scale 3s reverse ease-in-out infinite;

}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(50deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes tooth-bounce {
          0%, 100% { 
            transform: rotate(0deg) translateY(0px) ; 
          }
          25% { 
            transform: rotate(10deg) translateY(-7px) ; 
          }
          50% { 
            transform: rotate(-8deg) translateY(-14px) ; 
          }
          75% { 
            transform: rotate(10deg) translateY(-7px) ; 
          }
        }


@keyframes circle-scale1 {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes circle-scale2 {
    0%, 100% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1);
    }
}

@keyframes scale {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}